/* div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
} */
/* .info {
  width: 50%;
  display: flex;
  flex-direction: column;
} */
/* .info p {
  font-size: 20px;
  text-align: left;
} */

/* img {
  border-radius: 50%;
  width: 20%;
} */

/* .info button {
  width: 300px;
  background-color: #ff6464;
  border: 0;
  font-size: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
} */

/* .info button:hover {
  background-color: #e42323;
} */
